
# vscode
.vscode

# network testing
/network

# dependencies
/node_modules

# production
/dist

# misc
# .env
.env.local
.env.development.local
.env.test.local
.env.production.local

# package manager
yarn-debug.log*
yarn-error.log*

# specific files
/src/context/DataContext.tsx
/src/context/EmployeeContext.tsx
/src/context/UserContext.tsx
/src/hooks/useAxiosFetch.ts
/src/context/ItemsContext.tsx
Task.md