/**
 * Chrome transitions bug: Preventa "pop" of content by disabling all
 * transitions until page load is complete. https://lab.laukstein.com/bug/input
 */

body.loading * {
  transition: none !important;
}

/**
 * predefined app background
 */
.app-background {
  background-image: url('/public/assets/mountain.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  height: 100vh;
  width: 100vw;
}

.login-card-header {
  background-image: url('/public/assets/loginHeader.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 62px;
}

.list-group-empl {
  border-radius: 0;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  transition: background-color 350ms ease-out;
}
.list-group-empl:hover {
  background-color: #eef8ff;
}

.list-group-empl:first-child {
  border-radius: 4px 4px 0 0;
  background-color: #fff;
  transition: background-color 350ms ease-out;
}
.list-group-empl:first-child:hover {
  background-color: #eef8ff;
}

.list-group-empl:last-child {
  border-radius: 0 0 4px 4px;
  background-color: #fff;
  transition: background-color 350ms ease-out;
}
.list-group-empl:last-child:hover {
  background-color: #eef8ff;
}

.list-group-empl:only-child {
  border-radius: 4px;
  background-color: #fff;
  transition: background-color 350ms ease-out;
}
.list-group-empl:only-child:hover {
  background-color: #eef8ff;
}
