/*
input[type='text'],
input[type='password'],
button,
textarea {
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

label,
button {
  margin-top: 1rem;
}

button {
  padding: 0.5rem;
}

li {
  list-style-type: none;
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.line {
  display: inline-block;
}

.flexGrow {
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.persistCheck {
  font-size: 0.75rem;
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.persistCheck label {
  margin: 0;
}

[type='checkbox'] {
  height: 20px;
  width: 20px;
  margin: 0 5px 2px 2px;
} */

/**
 * predefined color variables
 */
:root {
  --teal: #00b9f0;
  --grey-dark: #404040;
  --grey: #8a8c91;
  --grey-light: #e8e8e9;
  --grey-lightest: #f8f8f8;
  --blue-dark: #28408e;
  --blue-light: #1eacc2;
  --white: #ffffff;
  --red-dark: #f44336;
  --red: #f55a4e;
  --red-light: #f55a4e;
  --red-lightest: #f55a4e;
}

/**
 * Chrome transitions bug: Preventa "pop" of content by disabling all
 * transitions until page load is complete. https://lab.laukstein.com/bug/input
 */

body.loading * {
  transition: none !important;
}

/**
 * predefined common styles
 */
html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.text-center {
  text-align: center;
}
.input {
  height: 32px;
}

.loading-screen {
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal {
  position: relative;
  width: 300px;
  display: flex;
  background-color: #e1e1e1;
  padding: 18px 32px;
  flex-direction: column;
  left: 40%;
  top: 38%;
}

/**
 * predefined header styles
 */
.header {
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--red);
  color: white;
}
.header .user-section {
  top: 16px;
  right: 32px;
  position: absolute;
}
.header .user-section button {
  font-size: larger;
  font-weight: 700;
  background-color: var(--grey-light);
  padding: 12px 18px;
  cursor: pointer;
  user-select: none;
  margin-left: 12px;
  border-radius: 9px;
  border-width: 0;
}

/**
 * predefined login=page styles
 */
.login-page {
  background: url('/public/assets/mountain.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.login-card {
  border-radius: 3px;
  background-color: var(--white);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.login-card-header {
  background: url('/public/assets/loginHeader.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 62px;
}
.login-input-title {
  font-weight: 500;
  color: var(--grey-dark);
}
.login-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 50px;
  width: 350px;
  min-height: 300px;
}
.login-page input[type='text'],
.login-page input[type='password'],
.login-page textarea {
  padding: 0.5rem 1rem;
  border-radius: 3px;
}

.button {
  height: 42px;
  min-width: 120px;
  margin-right: auto;
  background-color: var(--blue-dark);
  color: var(--white);
  border-radius: 3px;
  border: none;
  cursor: pointer;
  padding: 12px 6px;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}
.button:hover,
.button:focus,
.button:active {
  background-color: var(--blue-dark);
  text-decoration: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.2);
}
.button:disabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.6;
  box-shadow: none;
}
.button--error {
  color: #fff;
  background-color: var(--red-dark);
}
.button--error:active {
  color: #fff;
  background-color: var(--red);
}
.button--error:focus {
  color: #fff;
  background-color: var(--red-light);
}
.button--error:hover {
  color: #fff;
  background-color: var(--red-lightest);
}

/**
 * predefined filter styles
 */
.filter {
  display: flex;
  justify-content: center;
  background-color: var(--grey-lightest);
  padding: 12px;
}
.filter .filter-tab {
  background-color: var(--grey-light);
  font-size: larger;
  font-weight: 700;
  padding: 12px 18px;
  cursor: pointer;
  user-select: none;
  margin-left: 12px;
  border-radius: 9px;
}
.filter .filter-tab:hover {
  background-color: var(--grey);
}

/**
 * predefined list styles
 */
.list {
  list-style: none;
  border-top: 2px solid var(--grey-light);
  padding: 0;
  margin: 0;
}
.list .item {
  min-height: 32px;
  border-bottom: 1px solid var(--grey-light);
  padding: 12px 6px;
  display: flex;
}
.list .item .item-icon {
  color: white;
  font-weight: bold;
  border-radius: 9px;
  height: 38px;
  width: 38px;
  background-color: var(--grey);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
}
.list .item .title {
  font-weight: 600;
}
.list .item .update {
  margin-left: auto;
  margin-right: 32px;
}
.list .item:hover {
  background-color: var(--grey-light);
}

/**
 * predefined spacing
 */
.mt-1px {
  margin-top: 1px;
}
.mr-1px {
  margin-right: 1px;
}
.mb-1px {
  margin-bottom: 1px;
}
.ml-1px {
  margin-left: 1px;
}
.mx-1px {
  margin-left: 1px;
  margin-right: 1px;
}
.my-1px {
  margin-top: 1px;
  margin-bottom: 1px;
}
.p-1px {
  padding: 1px;
}
.pt-1px {
  padding-top: 1px;
}
.pr-1px {
  padding-right: 1px;
}
.pb-1px {
  padding-bottom: 1px;
}
.pl-1px {
  padding-left: 1px;
}
.px-1px {
  padding-left: 1px;
  padding-right: 1px;
}
.py-1px {
  padding-top: 1px;
  padding-bottom: 1px;
}
.mt-2px {
  margin-top: 2px;
}
.mr-2px {
  margin-right: 2px;
}
.mb-2px {
  margin-bottom: 2px;
}
.ml-2px {
  margin-left: 2px;
}
.mx-2px {
  margin-left: 2px;
  margin-right: 2px;
}
.my-2px {
  margin-top: 2px;
  margin-bottom: 2px;
}
.p-2px {
  padding: 2px;
}
.pt-2px {
  padding-top: 2px;
}
.pr-2px {
  padding-right: 2px;
}
.pb-2px {
  padding-bottom: 2px;
}
.pl-2px {
  padding-left: 2px;
}
.px-2px {
  padding-left: 2px;
  padding-right: 2px;
}
.py-2px {
  padding-top: 2px;
  padding-bottom: 2px;
}
.mt-3px {
  margin-top: 3px;
}
.mr-3px {
  margin-right: 3px;
}
.mb-3px {
  margin-bottom: 3px;
}
.ml-3px {
  margin-left: 3px;
}
.mx-3px {
  margin-left: 3px;
  margin-right: 3px;
}
.my-3px {
  margin-top: 3px;
  margin-bottom: 3px;
}
.p-3px {
  padding: 3px;
}
.pt-3px {
  padding-top: 3px;
}
.pr-3px {
  padding-right: 3px;
}
.pb-3px {
  padding-bottom: 3px;
}
.pl-3px {
  padding-left: 3px;
}
.px-3px {
  padding-left: 3px;
  padding-right: 3px;
}
.py-3px {
  padding-top: 3px;
  padding-bottom: 3px;
}
.mt-4px {
  margin-top: 4px;
}
.mr-4px {
  margin-right: 4px;
}
.mb-4px {
  margin-bottom: 4px;
}
.ml-4px {
  margin-left: 4px;
}
.mx-4px {
  margin-left: 4px;
  margin-right: 4px;
}
.my-4px {
  margin-top: 4px;
  margin-bottom: 4px;
}
.p-4px {
  padding: 4px;
}
.pt-4px {
  padding-top: 4px;
}
.pr-4px {
  padding-right: 4px;
}
.pb-4px {
  padding-bottom: 4px;
}
.pl-4px {
  padding-left: 4px;
}
.px-4px {
  padding-left: 4px;
  padding-right: 4px;
}
.py-4px {
  padding-top: 4px;
  padding-bottom: 4px;
}
.mt-5px {
  margin-top: 5px;
}
.mr-5px {
  margin-right: 5px;
}
.mb-5px {
  margin-bottom: 5px;
}
.ml-5px {
  margin-left: 5px;
}
.mx-5px {
  margin-left: 5px;
  margin-right: 5px;
}
.my-5px {
  margin-top: 5px;
  margin-bottom: 5px;
}
.p-5px {
  padding: 5px;
}
.pt-5px {
  padding-top: 5px;
}
.pr-5px {
  padding-right: 5px;
}
.pb-5px {
  padding-bottom: 5px;
}
.pl-5px {
  padding-left: 5px;
}
.px-5px {
  padding-left: 5px;
  padding-right: 5px;
}
.py-5px {
  padding-top: 5px;
  padding-bottom: 5px;
}
.mt-6px {
  margin-top: 6px;
}
.mr-6px {
  margin-right: 6px;
}
.mb-6px {
  margin-bottom: 6px;
}
.ml-6px {
  margin-left: 6px;
}
.mx-6px {
  margin-left: 6px;
  margin-right: 6px;
}
.my-6px {
  margin-top: 6px;
  margin-bottom: 6px;
}
.p-6px {
  padding: 6px;
}
.pt-6px {
  padding-top: 6px;
}
.pr-6px {
  padding-right: 6px;
}
.pb-6px {
  padding-bottom: 6px;
}
.pl-6px {
  padding-left: 6px;
}
.px-6px {
  padding-left: 6px;
  padding-right: 6px;
}
.py-6px {
  padding-top: 6px;
  padding-bottom: 6px;
}
.mt-7px {
  margin-top: 7px;
}
.mr-7px {
  margin-right: 7px;
}
.mb-7px {
  margin-bottom: 7px;
}
.ml-7px {
  margin-left: 7px;
}
.mx-7px {
  margin-left: 7px;
  margin-right: 7px;
}
.my-7px {
  margin-top: 7px;
  margin-bottom: 7px;
}
.p-7px {
  padding: 7px;
}
.pt-7px {
  padding-top: 7px;
}
.pr-7px {
  padding-right: 7px;
}
.pb-7px {
  padding-bottom: 7px;
}
.pl-7px {
  padding-left: 7px;
}
.px-7px {
  padding-left: 7px;
  padding-right: 7px;
}
.py-7px {
  padding-top: 7px;
  padding-bottom: 7px;
}
.mt-8px {
  margin-top: 8px;
}
.mr-8px {
  margin-right: 8px;
}
.mb-8px {
  margin-bottom: 8px;
}
.ml-8px {
  margin-left: 8px;
}
.mx-8px {
  margin-left: 8px;
  margin-right: 8px;
}
.my-8px {
  margin-top: 8px;
  margin-bottom: 8px;
}
.p-8px {
  padding: 8px;
}
.pt-8px {
  padding-top: 8px;
}
.pr-8px {
  padding-right: 8px;
}
.pb-8px {
  padding-bottom: 8px;
}
.pl-8px {
  padding-left: 8px;
}
.px-8px {
  padding-left: 8px;
  padding-right: 8px;
}
.py-8px {
  padding-top: 8px;
  padding-bottom: 8px;
}
.mt-12px {
  margin-top: 12px;
}
.mr-12px {
  margin-right: 12px;
}
.mb-12px {
  margin-bottom: 12px;
}
.ml-12px {
  margin-left: 12px;
}
.mx-12px {
  margin-left: 12px;
  margin-right: 12px;
}
.my-12px {
  margin-top: 12px;
  margin-bottom: 12px;
}
.p-12px {
  padding: 12px;
}
.pt-12px {
  padding-top: 12px;
}
.pr-12px {
  padding-right: 12px;
}
.pb-12px {
  padding-bottom: 12px;
}
.pl-12px {
  padding-left: 12px;
}
.px-12px {
  padding-left: 12px;
  padding-right: 12px;
}
.py-12px {
  padding-top: 12px;
  padding-bottom: 12px;
}
.mt-16px {
  margin-top: 16px;
}
.mr-16px {
  margin-right: 16px;
}
.mb-16px {
  margin-bottom: 16px;
}
.ml-16px {
  margin-left: 16px;
}
.mx-16px {
  margin-left: 16px;
  margin-right: 16px;
}
.my-16px {
  margin-top: 16px;
  margin-bottom: 16px;
}
.p-16px {
  padding: 16px;
}
.pt-16px {
  padding-top: 16px;
}
.pr-16px {
  padding-right: 16px;
}
.pb-16px {
  padding-bottom: 16px;
}
.pl-16px {
  padding-left: 16px;
}
.px-16px {
  padding-left: 16px;
  padding-right: 16px;
}
.py-16px {
  padding-top: 16px;
  padding-bottom: 16px;
}
.mt-20px {
  margin-top: 20px;
}
.mr-20px {
  margin-right: 20px;
}
.mb-20px {
  margin-bottom: 20px;
}
.ml-20px {
  margin-left: 20px;
}
.mx-20px {
  margin-left: 20px;
  margin-right: 20px;
}
.my-20px {
  margin-top: 20px;
  margin-bottom: 20px;
}
.p-20px {
  padding: 20px;
}
.pt-20px {
  padding-top: 20px;
}
.pr-20px {
  padding-right: 20px;
}
.pb-20px {
  padding-bottom: 20px;
}
.pl-20px {
  padding-left: 20px;
}
.px-20px {
  padding-left: 20px;
  padding-right: 20px;
}
.py-20px {
  padding-top: 20px;
  padding-bottom: 20px;
}
.mt-24px {
  margin-top: 24px;
}
.mr-24px {
  margin-right: 24px;
}
.mb-24px {
  margin-bottom: 24px;
}
.ml-24px {
  margin-left: 24px;
}
.mx-24px {
  margin-left: 24px;
  margin-right: 24px;
}
.my-24px {
  margin-top: 24px;
  margin-bottom: 24px;
}
.p-24px {
  padding: 24px;
}
.pt-24px {
  padding-top: 24px;
}
.pr-24px {
  padding-right: 24px;
}
.pb-24px {
  padding-bottom: 24px;
}
.pl-24px {
  padding-left: 24px;
}
.px-24px {
  padding-left: 24px;
  padding-right: 24px;
}
.py-24px {
  padding-top: 24px;
  padding-bottom: 24px;
}
.mt-28px {
  margin-top: 28px;
}
.mr-28px {
  margin-right: 28px;
}
.mb-28px {
  margin-bottom: 28px;
}
.ml-28px {
  margin-left: 28px;
}
.mx-28px {
  margin-left: 28px;
  margin-right: 28px;
}
.my-28px {
  margin-top: 28px;
  margin-bottom: 28px;
}
.p-28px {
  padding: 28px;
}
.pt-28px {
  padding-top: 28px;
}
.pr-28px {
  padding-right: 28px;
}
.pb-28px {
  padding-bottom: 28px;
}
.pl-28px {
  padding-left: 28px;
}
.px-28px {
  padding-left: 28px;
  padding-right: 28px;
}
.py-28px {
  padding-top: 28px;
  padding-bottom: 28px;
}
.mt-32px {
  margin-top: 32px;
}
.mr-32px {
  margin-right: 32px;
}
.mb-32px {
  margin-bottom: 32px;
}
.ml-32px {
  margin-left: 32px;
}
.mx-32px {
  margin-left: 32px;
  margin-right: 32px;
}
.my-32px {
  margin-top: 32px;
  margin-bottom: 32px;
}
.p-32px {
  padding: 32px;
}
.pt-32px {
  padding-top: 32px;
}
.pr-32px {
  padding-right: 32px;
}
.pb-32px {
  padding-bottom: 32px;
}
.pl-32px {
  padding-left: 32px;
}
.px-32px {
  padding-left: 32px;
  padding-right: 32px;
}
.py-32px {
  padding-top: 32px;
  padding-bottom: 32px;
}
.mt-36px {
  margin-top: 36px;
}
.mr-36px {
  margin-right: 36px;
}
.mb-36px {
  margin-bottom: 36px;
}
.ml-36px {
  margin-left: 36px;
}
.mx-36px {
  margin-left: 36px;
  margin-right: 36px;
}
.my-36px {
  margin-top: 36px;
  margin-bottom: 36px;
}
.p-36px {
  padding: 36px;
}
.pt-36px {
  padding-top: 36px;
}
.pr-36px {
  padding-right: 36px;
}
.pb-36px {
  padding-bottom: 36px;
}
.pl-36px {
  padding-left: 36px;
}
.px-36px {
  padding-left: 36px;
  padding-right: 36px;
}
.py-36px {
  padding-top: 36px;
  padding-bottom: 36px;
}
.mt-40px {
  margin-top: 40px;
}
.mr-40px {
  margin-right: 40px;
}
.mb-40px {
  margin-bottom: 40px;
}
.ml-40px {
  margin-left: 40px;
}
.mx-40px {
  margin-left: 40px;
  margin-right: 40px;
}
.my-40px {
  margin-top: 40px;
  margin-bottom: 40px;
}
.p-40px {
  padding: 40px;
}
.pt-40px {
  padding-top: 40px;
}
.pr-40px {
  padding-right: 40px;
}
.pb-40px {
  padding-bottom: 40px;
}
.pl-40px {
  padding-left: 40px;
}
.px-40px {
  padding-left: 40px;
  padding-right: 40px;
}
.py-40px {
  padding-top: 40px;
  padding-bottom: 40px;
}
.mt-44px {
  margin-top: 44px;
}
.mr-44px {
  margin-right: 44px;
}
.mb-44px {
  margin-bottom: 44px;
}
.ml-44px {
  margin-left: 44px;
}
.mx-44px {
  margin-left: 44px;
  margin-right: 44px;
}
.my-44px {
  margin-top: 44px;
  margin-bottom: 44px;
}
.p-44px {
  padding: 44px;
}
.pt-44px {
  padding-top: 44px;
}
.pr-44px {
  padding-right: 44px;
}
.pb-44px {
  padding-bottom: 44px;
}
.pl-44px {
  padding-left: 44px;
}
.px-44px {
  padding-left: 44px;
  padding-right: 44px;
}
.py-44px {
  padding-top: 44px;
  padding-bottom: 44px;
}
.mt-48px {
  margin-top: 48px;
}
.mr-48px {
  margin-right: 48px;
}
.mb-48px {
  margin-bottom: 48px;
}
.ml-48px {
  margin-left: 48px;
}
.mx-48px {
  margin-left: 48px;
  margin-right: 48px;
}
.my-48px {
  margin-top: 48px;
  margin-bottom: 48px;
}
.p-48px {
  padding: 48px;
}
.pt-48px {
  padding-top: 48px;
}
.pr-48px {
  padding-right: 48px;
}
.pb-48px {
  padding-bottom: 48px;
}
.pl-48px {
  padding-left: 48px;
}
.px-48px {
  padding-left: 48px;
  padding-right: 48px;
}
.py-48px {
  padding-top: 48px;
  padding-bottom: 48px;
}
.mt-52px {
  margin-top: 52px;
}
.mr-52px {
  margin-right: 52px;
}
.mb-52px {
  margin-bottom: 52px;
}
.ml-52px {
  margin-left: 52px;
}
.mx-52px {
  margin-left: 52px;
  margin-right: 52px;
}
.my-52px {
  margin-top: 52px;
  margin-bottom: 52px;
}
.p-52px {
  padding: 52px;
}
.pt-52px {
  padding-top: 52px;
}
.pr-52px {
  padding-right: 52px;
}
.pb-52px {
  padding-bottom: 52px;
}
.pl-52px {
  padding-left: 52px;
}
.px-52px {
  padding-left: 52px;
  padding-right: 52px;
}
.py-52px {
  padding-top: 52px;
  padding-bottom: 52px;
}
.mt-64px {
  margin-top: 64px;
}
.mr-64px {
  margin-right: 64px;
}
.mb-64px {
  margin-bottom: 64px;
}
.ml-64px {
  margin-left: 64px;
}
.mx-64px {
  margin-left: 64px;
  margin-right: 64px;
}
.my-64px {
  margin-top: 64px;
  margin-bottom: 64px;
}
.p-64px {
  padding: 64px;
}
.pt-64px {
  padding-top: 64px;
}
.pr-64px {
  padding-right: 64px;
}
.pb-64px {
  padding-bottom: 64px;
}
.pl-64px {
  padding-left: 64px;
}
.px-64px {
  padding-left: 64px;
  padding-right: 64px;
}
.py-64px {
  padding-top: 64px;
  padding-bottom: 64px;
}
