/**
 * Chrome transitions bug: Preventa "pop" of content by disabling all
 * transitions until page load is complete. https://lab.laukstein.com/bug/input
 */

body.loading * {
  transition: none !important;
}

/**
 * predefined common styles
 */
html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

/**
 * predefined login page styles
 */
.login-page {
  background: url('/public/assets/mountain.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.login-card-header {
  background: url('/public/assets/loginHeader.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 62px;
}
